body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #003366;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s, transform 0.2s;
}

nav ul li a:hover {
    background: #b0b0b0;
    transform: scale(1.05);
    border-radius: 5px;
}

.hero {
    background: #f0f0f0;
    padding: 50px;
    text-align: center;
}

.btn {
    background: #0055a5;
    color: white;
    padding: 1vw 1vw;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s;
}

.btn:hover {
    background: #b0b0b0;
    transform: scale(1.05);
}

section {
    padding: 40px 20px;
}

#destaques {
    padding: 40px 20px;
    text-align: center;
}

#livros-section {
    padding: 40px 20px;
    text-align: center;
}

.livros-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
}

.livros-em-destaque {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    overflow: hidden;
}

.livro {
    flex-shrink: 0;
    width: 200px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.livro:hover {
    transform: scale(1.05);
}

.livro img {
    max-width: 100%;
    border-radius: 5px;
}

.livro h3 {
	font-size: 2vw;
	font-weight: normal;
}

.livro p {
    font-size: 14px;
    color: #666;
}

footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}

.social a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s, transform 0.2s;
}

.social a:hover {
    background: #b0b0b0;
    transform: scale(1.05);
    border-radius: 5px;
}


.arrow {
    background-color: transparent;
    border: none;
    font-size: 30px; 
    color: #0055a5; 
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.arrow:hover {
    transform: scale(1.2);
    color: #b0b0b0;
}

.botao {
	margin-left: auto;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero {
        padding: 30px;
    }

    .livros-em-destaque {
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        gap: 20px;
    }

    .livro {
        width: 25%; 
    }
}
